.article {}

.article__image--hero {
	width: calc(100% + (var(--gutter) * 2));
	margin: 0 calc(var(--gutter) * -1);
}

.article__image--hero img {
	width: 100%; 
}

.article__heading {
	--font-size: 1.375rem; 
	--line-height: 1.25; 

	font-size: var(--font-size); 
	font-weight: bold; 
	margin: calc(var(--font-size) * var(--line-height) / 2) 0;
}

.article__standfirst {
	--font-size: 1rem; 
	--line-height: 1.4; 

	font-size: var(--font-size); 
	margin: calc(var(--font-size) * var(--line-height) / 2) 0;
}

.article__date {
	--font-size: 0.75rem; 
	--line-height: 1.4;

	display: block;
	font-family: Arial, sans-serif;
	font-size: var(--font-size); 
	margin: calc(var(--font-size) * var(--line-height) / 2) 0;
}
